@import "tailwindcss";

html,
body,
#app {
	margin: 0;
	min-height: 100%;
	width: 100%;
}


:root {
    /*color swatches*/
    --Blue-1: #1B263B;
    --Blue-2: #415A77;
    --Dark-BLue: #0D1B2A;
    --Light-Blue: #778DA9;
    --color-white: #E0E1DD;
}
.subtitle {
text-transform: uppercase;
  font-weight: 20px;
  letter-spacing: 1px;
  font-family: Raleway;
}

h1 {
  font-size: 3.5rem;
  margin: 10px 0;
  line-height: 1.1;
  font-family: Raleway;
}